.text-xxs {
    font-size: 10px;
    line-height: 1.5;
}

.discord-chats {
    img {
        max-width: 370px;
    }
    a {
        color: dodgerblue;
        cursor: pointer;
    }
    a:hover {
        text-decoration: underline;
    }
    code {
        display: inline;
        align-items: center;
        vertical-align: bottom;
        border-radius: 4px !important;
        padding: 0 2px;
        border: 1px solid;
        border-color: var(--color-fd-border);
        background: var(--color-fd-muted);
    }
}
