@import "https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap";

html[data-theme="dark"] .discord-messages, html[data-theme="dark"] div[class*="language-"] {
    background-color: #202024 !important;
    border: 1px solid rgba(255, 255, 255, 0.1) !important;
}

html[data-theme="light"] .discord-messages, html[data-theme="light"] div[class*="language-"] {
    background-color: #e5e7eb !important;
    border: 1px solid rgba(0, 0, 0, 0.1) !important;
}

html[data-theme="dark"] .discord-message {
    color: #dcddde !important;
}

html[data-theme="light"] .discord-message {
    color: #202024 !important;
}

.discord-message:hover {
    background-color: rgba(128, 128, 128, 0.2) !important;
}

.discord-messages {
    border-radius: 8px;
    font-family: Inter, Roboto, sans-serif;
}

html[data-theme="light"] .discord-embed-container, html[data-theme="light"] .discord-embed-title {
    background-color: white;
    color: black !important;
}

.discord-message .discord-author-info .discord-author-username {
    font-size: 0.95rem !important;
    letter-spacing: 0px !important;
    display: inline-flex !important;
}
.discord-message .discord-message-body {
    font-size: 15px !important;
}
.discord-message .discord-message-content .discord-message-timestamp {
    display: inline-flex !important;
    font-size: 11px !important;
    margin-left: 5px !important;
}

@media screen and (max-width: 719px) {
    .hint-container {
        margin-inline: 0 !important;
    }
}

@media (max-width: 419px) {
    #content > div[class*=language-], #content > .code-block-with-title > div[class*=language-] {
        margin-inline: 0 !important;
    }
}

:root {
    --code-border-radius: 8px !important;
    --tab-border-radius: 8px !important;
}

@media (max-width: 419px) {
    #content {
        --code-border-radius: 8px !important;
        --tab-border-radius: 8px !important;
    }
}
